<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="HTTPReqGenTestSuite" parallel="false">
	<!--<parameter name="workBook" value="src/test/resources/Http_Request_template.xls" />-->
	<test name="TestNGmain" verbose="2">
    <classes>
    <class name="yinpiao.InterfaceLogin.InterfaceLogin" />
    </classes>
    <!--<listeners>-->
    <!--<listener class-name="org.uncommons.reportng.HTMLReporter"/>-->
    <!--<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>-->
    <!--</listeners>-->
  </test>
</suite>	