@charset "utf-8";
/* CSS Document */
body{padding:0px;margin:0px;}
body{font-family:Arial, Helvetica, sans-serif;font-size:14px;background-color:#fff;}
ul,li{padding:0px;margin:0px;list-style-type: none;}
a{text-decoration: none;color:#000;}
a:hover{color:#000;}

/*导航菜单*/
#nav {width:100%;margin:20px auto;height: 40px;line-height: 40px;background:url('/css/daohanglanimages/nav-bg.png');display:block;overflow:hidden;}
#nav a.knowduice{float:right;height:40px;line-height:40px;display:block;text-decoration:none;font-size:12px;margin-right:18px;color:#fff;padding-left:22px;background:url('/css/daohanglanimages/bg-about.gif') no-repeat 0 11px;}
#nav a.knowduice:hover{background:url('/css/daohanglanimages/bg-about-hover.gif') no-repeat 0 11px;}
#navMenu ul{width:950px;float:left;height:40px;}
#navMenu li {float:left;display:inline;	font-size:14px;}
#navMenu li a {color:#fff !important;text-decoration:none;width:91px;height:40px;line-height:40px;text-align:center;background-image:url('/css/daohanglanimages/navbg.png');display:block;}
#navMenu li a.last{width:92px;}
#navMenu li a.current{background-position:0 -80px;width:91px;height:40px;line-height:40px;text-align:center;display:block;color:#fff;}
#navMenu li a:hover{background-position:0 -40px;}
/*-------- 下拉菜单 --------------*/
.dropMenu {	position:absolute;top: 0;z-index:100;visibility: hidden; margin-top: -2px;border:1px solid #0e2c5e;border-top:0;background-color:#cbdef4;padding:4px;width:260px;}
.dropMenu li {float:left;width:130px;height:32px;padding:0;	margin:0;display:inline;}
.dropMenu li a {display: block;padding: 5px 0 5px 12px;color:#0f335d;	}
.dropMenu a:hover {text-decoration: underline;color:#000;}







